// Testing class Remove this in final
.fullPage {
  height: 100vh;
}
.border {
  border: 1px solid red;
}

// Color
$primary: #fff0e5;
$lightblue: #3a11e5;
$blue: #1e096e;
$darkBlue: #11162f;
$yellow: #ffd300;
$black: #000000;
$gray: #201e2f;
$lightGreen: #eafdc5;
$shadow: rgb(184, 184, 184);

// Global Classes
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: $primary;
}

// Utility class
.hidden {
  display: none;
}

.container {
  display: block;
  width: 85%;
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
}

.cursor {
  cursor: pointer;
}

.light {
  color: $primary;
}

.dark {
  color: $darkBlue;
}

.shiftLeft {
  margin-right: auto;
}

.shiftRight {
  margin-left: auto;
}

.rotate180 {
  transform: rotate(180deg);
}

.icon {
  font-size: 20px;
  vertical-align: middle;
}

.iconLrg {
  padding: 10px 20px;
  font-size: 25px;
  vertical-align: center;
}

.course__selected {
  padding-bottom: 5px;
  border-bottom: 3px solid $yellow;
}

.course__card {
  background-color: $primary;
  color: $darkBlue;
  border-radius: 3px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--header {
    padding: 5px 10px;
    font-weight: 100;
    font-size: small;
    font-family: menlo;
    background-color: $lightGreen;
    border-radius: 3px;
  }
  &--body {
    padding: 10px;
    font-weight: 100;
    font-size: small;
    height: 100%;

    &--name {
      margin-bottom: 1em;
    }
  }
  &--footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-top: 1px dotted black;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: small;
  }
}

.searchIcon {
  font-size: 25px;
  margin-right: 5px;
}

.img {
  width: 100%;
  height: auto;
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.title--lrg {
  font-size: 3rem;
}

.info--title {
  max-width: 20rem;
  padding: 1rem 0rem;
}
.info--text {
  font-size: smaller;
  line-height: 1.3rem;
  max-width: 20rem;
}
.info--btn {
  margin-top: 1rem;
  max-width: fit-content;
}
.info--img {
  text-align: center;
}

.noListStyle {
  list-style: none;
}

.nav__link,
.courses__navLink {
  text-decoration: none;
  transition: opacity 0.3s;
}

.nav__link:hover,
.courses__navLink:hover {
  opacity: 0.5;
}

.displayBlock {
  display: block;
}

//animation
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

// Notice bar
.notice {
  font-size: smaller;
  padding: 12px;
  background-color: $yellow;
  animation: slideDown 1s 0ms ease-in;
  &__content {
    display: flex;
    text-align: center;
  }
}

// Navigation bar
.navbar {
  height: 79px;
  width: 100%;
  position: sticky;
  top: 0px;
  background-color: $primary;
  z-index: 10000;
  position: relative;

  &__content {
    display: flex;

    &--itemRight,
    &--itemLeft {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--itemRight {
      &--menu {
        display: flex;
      }
    }
    &__menu {
      list-style-type: none;
      display: flex;
      align-items: center;
      width: 100%;
      &--item,
      &--itemRight {
        padding: 0px 8px;
      }
    }
  }
}

.navbar__dropdown__menu {
  display: none;
  list-style: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 1rem;

  &--item {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  &--item:hover {
    color: $lightblue;
  }
}

// Header Section
.header__content {
  display: flex;
  align-items: center;
  &__teacher,
  &__logInSection {
    width: 50%;
    height: 100%;
  }

  .teacher--img {
    box-shadow: -10px 10px 5px $shadow;
    border: 1px solid black;
    width: 80%;
  }
  &__teacher {
    display: flex;
    justify-content: center;
  }

  &__logInSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 3em;
  }

  .login__form {
    &--header {
      line-height: 2rem;
      padding-bottom: 10px;
    }
    &__input {
      width: 100%;
      padding: 10px;
    }

    &--button {
      width: 100%;
      background-color: $lightblue;
      color: $primary;
      border: none;
    }

    input[name='email'] {
      margin-bottom: 2rem;
    }

    .password {
      display: flex;
      flex-direction: column;

      &--label {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &--info {
    margin-top: 30px;
    font-weight: 100;
    line-height: 1.6em;
  }

  &--signUpOptText {
    margin: 10px 0px;
  }

  &--signUpOptLogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
    grid-template-rows: auto;
    column-gap: 1em;
  }
  &--signUpLogo {
    background-color: $primary;
    border: 1px solid $black;
    border-radius: 4px;
    margin-top: 5px;
    text-align: center;
  }
}

// courses Section

.courses {
  padding-top: 20px;
  padding-bottom: 50px;
  color: $primary;
  background-image: linear-gradient($darkBlue 60%, $blue 40%);

  &__content {
    display: flex;
    flex-direction: column;
    &__header {
      text-align: center;
      padding: 20px;
      &--firstTitle {
        font-family: menlo;
        font-weight: 100;
      }
    }

    &__nav {
      margin-left: auto;
      margin-right: auto;

      &__navMenu {
        display: flex;
        list-style: none;
        border-bottom: 1px solid $primary;
        &--navItem {
          padding: 9px;
        }

        .newCourse::after {
          content: 'New';
          color: $darkBlue;
          padding: 3px 5px;
          font-weight: 100;
          font-size: 50%;
          background-color: $yellow;
          border-radius: 10px;
        }
      }
    }

    .courses__cardsContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      grid-template-rows: auto;
      gap: 25px;
      padding: 20px;
    }
    .moreBtn--container {
      margin-left: auto;
      margin-right: auto;
    }
    .more--btn {
      background-color: $yellow;
    }
  }
}

//Code section
.code {
  background-color: $darkBlue;
  color: $primary;
  padding-top: 20px;
  &__container {
    padding-top: 2em;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
  }
  &__editor {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    border: 1px solid gray;
    margin-right: 50px;

    &__logo {
      grid-column: 1/3;
      font-size: 2em;
      padding: 10px 20px;
      background-color: black;
      border-bottom: 1px solid gray;
    }
    &__title {
      grid-column: 1/3;
      display: flex;
      justify-content: space-between;
      background-color: black;
      vertical-align: center;
      &__text {
        border-bottom: 1px solid gray;
        width: 100%;
        padding: 10px 20px;
        display: flex;
        align-items: center;
      }

      &__text:last-child {
        border-left: 1px solid gray;
        justify-content: end;
      }
    }

    &__textBox {
      grid-column: 1/2;
      background-color: $gray;
      width: 100%;
      border-right: 1px solid gray;
      padding: 20px 0px 20px 20px;
    }
  }
  &__btnContainer {
    grid-column: 1/3;
    margin-left: auto;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: end;
    border-top: 1px solid gray;
    .code--btn {
      background-color: $yellow;
      text-decoration: none;
      color: $darkBlue;
    }
  }

  &__output {
    grid-column: 2/3;
  }

  .code__text {
    width: 40%;
    &__container {
      &__titleSmall {
        margin-bottom: 25px;
      }
      &__titleLrg {
        padding-bottom: 25px;
      }
      &__text {
        line-height: 2em;
        margin-bottom: 30px;
      }
      &__btn {
        color: $yellow;
        width: fit-content;
      }
      &__btn:hover {
        background-color: $gray;
      }
      .lesson--btn {
        border: 4px solid $yellow;
      }
    }
  }
}

.quiz {
  background-color: $yellow;
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 8rem 0rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    margin: 2rem 3rem;
    &__btn {
      background-color: $lightblue;
      color: $primary;
    }
  }
}

// Testimonial Section

.people::before {
  content: '';
  position: absolute;
  background: url('/asset/img/dotted.png');
  opacity: 0.3;
  background-size: 20% 90%;
  background-repeat: repeat-x;
  width: 100%;
  height: 40%;
  width: 100%;
  top: 25%;
  z-index: -1;
}
.people {
  position: relative;
  padding: 3rem 0;
  z-index: 0;

  &__headerDesc {
    display: flex;
    justify-content: space-between;
    font-size: small;
    line-height: 2.5em;
  }
  &__explore {
    color: $lightblue;
    display: flex;
    align-items: center;
  }
  .testimonial__card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 2rem;
    margin-top: 3rem;
    .testimonial {
      &__header {
        line-height: 1.3rem;
        font-size: 1rem;
      }
      &__text {
        font-family: menlo;
        line-height: 1.1rem;
        font-size: 0.7rem;
      }
      &__img {
        border: 1px solid black;
      }
    }
  }
}

//signUp Section
.signUp {
  background-color: $lightblue;
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 0rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 2rem 3rem;
    color: $primary;
  }
  &__btn {
    background-color: $yellow;
    color: $darkBlue;
  }
  &--imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--img {
    width: 80%;
    height: auto;
  }
}

//footer section

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin-top: 2rem;

  &__left,
  &__right {
    display: flex;
    justify-content: space-around;
  }

  &__header {
    font-weight: 700;
    padding-bottom: 0.31rem;
  }
  &__nav__content {
    list-style: none;
    font-size: small;
    line-height: 1.3rem;
  }
  &__item:hover {
    opacity: 0.5;
  }
  .rightBorder {
    border-left: 1px solid $black;
  }
}

.firstLinksLogo {
  display: flex;
  flex-direction: column;
  height: 100%;
  .footerLogo {
    margin-top: auto;
  }
}

.footer__bottom {
  margin-top: 10px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  &__menu {
    list-style: none;
    font-size: small;
    display: flex;
  }
  &__item::after {
    content: '\00a0 \00a0 | \00a0 \00a0 ';
  }

  &__text {
    font-size: small;
  }
}

// video section
.video {
  display: relative;
  position: relative;

  &__close {
    position: absolute;
    top: -52px;
    left: -15px;
    font-size: larger;
    color: $darkBlue;
    background-color: rgb(234, 253, 197, 0.8);
    padding: 0.5rem;
    border-radius: 4px;
  }
  &__container {
    display: absolute;
    max-width: fit-content;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem;
    background-color: $yellow;
    border: 1rem solid $lightblue;
    opacity: 1;
    animation: slideIn 3s 0ms both;
  }
}

// Responsive for Mobile
@media only screen and (max-width: 900px) {
  .navbar {
    &__content {
      &--itemLeft {
        display: none;
      }
    }
  }

  .navMenuIcon {
    display: block;
  }
  .header__content {
    display: block;
    height: 100%;
    .header__content__teacher,
    .header__content__logInSection {
      width: 100%;
      height: 100%;
      padding: 1em;
    }
  }
  .code {
    .code__container {
      display: block;
      padding-top: 10px;
    }
    .code__editor,
    .code__text {
      width: 100%;
      margin: 3rem 0rem;
    }
  }
  .quiz__container,
  .signUp__container {
    display: block;
  }

  .footer__left,
  .footer__right {
    margin-bottom: 3rem;
  }
  .footer .rightBorder {
    border-left: 0px solid $primary;
  }

  .footer__bottom__menu {
    display: block;
  }

  .footer__bottom__item,
  .footer__bottom__text {
    margin: 1rem;
  }
}
