@charset "UTF-8";
.fullPage {
  height: 100vh;
}

.border {
  border: 1px solid red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fff0e5;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.container {
  display: block;
  width: 85%;
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
}

.cursor {
  cursor: pointer;
}

.light {
  color: #fff0e5;
}

.dark {
  color: #11162f;
}

.shiftLeft {
  margin-right: auto;
}

.shiftRight {
  margin-left: auto;
}

.rotate180 {
  transform: rotate(180deg);
}

.icon {
  font-size: 20px;
  vertical-align: middle;
}

.iconLrg {
  padding: 10px 20px;
  font-size: 25px;
  vertical-align: center;
}

.course__selected {
  padding-bottom: 5px;
  border-bottom: 3px solid #ffd300;
}

.course__card {
  background-color: #fff0e5;
  color: #11162f;
  border-radius: 3px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.course__card--header {
  padding: 5px 10px;
  font-weight: 100;
  font-size: small;
  font-family: menlo;
  background-color: #eafdc5;
  border-radius: 3px;
}
.course__card--body {
  padding: 10px;
  font-weight: 100;
  font-size: small;
  height: 100%;
}
.course__card--body--name {
  margin-bottom: 1em;
}
.course__card--footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-top: 1px dotted black;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: small;
}

.searchIcon {
  font-size: 25px;
  margin-right: 5px;
}

.img {
  width: 100%;
  height: auto;
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.title--lrg {
  font-size: 3rem;
}

.info--title {
  max-width: 20rem;
  padding: 1rem 0rem;
}

.info--text {
  font-size: smaller;
  line-height: 1.3rem;
  max-width: 20rem;
}

.info--btn {
  margin-top: 1rem;
  max-width: fit-content;
}

.info--img {
  text-align: center;
}

.noListStyle {
  list-style: none;
}

.nav__link,
.courses__navLink {
  text-decoration: none;
  transition: opacity 0.3s;
}

.nav__link:hover,
.courses__navLink:hover {
  opacity: 0.5;
}

.displayBlock {
  display: block;
}

input {
  width: 100%;
  padding: 10px;
}

@keyframes showIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
.notice {
  font-size: smaller;
  padding: 12px;
  background-color: #ffd300;
  animation: slideDown 1s 0ms ease-in;
}
.notice__content {
  display: flex;
  text-align: center;
}

.mobile__nav {
  display: none;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100dvh;
  z-index: 2;
}
.mobile__nav__header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 8%;
  justify-content: space-between;
  background-color: #fff0e5;
}
.mobile__nav__body {
  display: block;
  border-bottom: 1px solid #201e2f;
  padding-bottom: 2rem;
}
.mobile__nav__body .searchBox {
  margin-top: 1rem;
}
.mobile__nav__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile__nav__link {
  display: flex;
  align-items: center;
}
.mobile__nav__link ion-icon {
  padding-left: 0;
}
.mobile__nav__item:hover, .mobile__nav__link:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
  cursor: pointer;
}
.mobile__nav__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}
.mobile__nav__footer .btn {
  margin: 0.4rem;
}

.navbar {
  height: 79px;
  width: 100%;
  position: sticky;
  top: 0px;
  background-color: #fff0e5;
  z-index: 1;
}
.navbar__content {
  display: flex;
}
.navbar__content--itemRight, .navbar__content--itemLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__content--itemRight--menu {
  display: flex;
}
.navbar__content__menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
}
.navbar__content__menu--item, .navbar__content__menu--itemRight {
  padding: 0px 8px;
}

.scrollTop {
  display: none;
}
.scrollTop .scrollUpIcon {
  transition: font-size 1s;
  font-size: 5rem;
  position: fixed;
  z-index: 10;
  bottom: 2rem;
  right: 3rem;
  color: #8a0000;
}

.scrollUpIcon:hover {
  font-size: 6rem;
  opacity: 0.7;
}

.navbar__dropdown__menu {
  display: none;
  list-style: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 1rem;
}
.navbar__dropdown__menu--item {
  display: flex;
  align-items: center;
  padding: 10px;
}
.navbar__dropdown__menu--item:hover {
  color: #3a11e5;
}

.header__content {
  display: flex;
  align-items: center;
}
.header__content__teacher, .header__content__logInSection {
  width: 50%;
  height: 100%;
}
.header__content .teacher--img {
  box-shadow: -10px 10px 5px rgb(184, 184, 184);
  border: 1px solid black;
  width: 80%;
}
.header__content__teacher {
  display: flex;
  justify-content: center;
}
.header__content__logInSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 3em;
}
.header__content .login__form--header {
  line-height: 2rem;
  padding-bottom: 10px;
}
.header__content .login__form--button {
  width: 100%;
  background-color: #3a11e5;
  color: #fff0e5;
  border: none;
}
.header__content .login__form input[name=email] {
  margin-bottom: 2rem;
}
.header__content .login__form .password {
  display: flex;
  flex-direction: column;
}
.header__content .login__form .password--label {
  display: flex;
  justify-content: space-between;
}
.header__content--info {
  margin-top: 30px;
  font-weight: 100;
  line-height: 1.6em;
}
.header__content--signUpOptText {
  margin: 10px 0px;
}
.header__content--signUpOptLogo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
  grid-template-rows: auto;
  column-gap: 1em;
}
.header__content--signUpLogo {
  background-color: #fff0e5;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-top: 5px;
  text-align: center;
}

.courses {
  padding-top: 20px;
  padding-bottom: 50px;
  color: #fff0e5;
  background-image: linear-gradient(#11162f 60%, #1e096e 40%);
}
.courses__content {
  display: flex;
  flex-direction: column;
}
.courses__content__header {
  text-align: center;
  padding: 20px;
}
.courses__content__header--firstTitle {
  font-family: menlo;
  font-weight: 100;
}
.courses__content__nav {
  margin-left: auto;
  margin-right: auto;
}
.courses__content__nav__navMenu {
  display: flex;
  list-style: none;
  border-bottom: 1px solid #fff0e5;
}
.courses__content__nav__navMenu--navItem {
  padding: 9px;
}
.courses__content__nav__navMenu .newCourse::after {
  content: "New";
  color: #11162f;
  padding: 3px 5px;
  font-weight: 100;
  font-size: 50%;
  background-color: #ffd300;
  border-radius: 10px;
}
.courses__content .courses__cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-template-rows: auto;
  gap: 25px;
  padding: 20px;
}
.courses__content .moreBtn--container {
  margin-left: auto;
  margin-right: auto;
}
.courses__content .more--btn {
  background-color: #ffd300;
}

.code {
  background-color: #11162f;
  color: #fff0e5;
  padding-top: 20px;
}
.code__container {
  padding-top: 2em;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.code__editor {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  border: 1px solid gray;
  margin-right: 50px;
}
.code__editor__logo {
  grid-column: 1/3;
  font-size: 2em;
  padding: 10px 20px;
  background-color: black;
  border-bottom: 1px solid gray;
}
.code__editor__title {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  background-color: black;
  vertical-align: center;
}
.code__editor__title__text {
  border-bottom: 1px solid gray;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.code__editor__title__text:last-child {
  border-left: 1px solid gray;
  justify-content: end;
}
.code__editor__textBox {
  grid-column: 1/2;
  background-color: #201e2f;
  width: 100%;
  border-right: 1px solid gray;
  padding: 20px 0px 20px 20px;
}
.code__btnContainer {
  grid-column: 1/3;
  margin-left: auto;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: end;
  border-top: 1px solid gray;
}
.code__btnContainer .code--btn {
  background-color: #ffd300;
  text-decoration: none;
  color: #11162f;
}
.code__output {
  grid-column: 2/3;
}
.code .code__text {
  width: 40%;
}
.code .code__text__container__titleSmall {
  margin-bottom: 25px;
}
.code .code__text__container__titleLrg {
  padding-bottom: 25px;
}
.code .code__text__container__text {
  line-height: 2em;
  margin-bottom: 30px;
}
.code .code__text__container__btn {
  color: #ffd300;
  width: fit-content;
}
.code .code__text__container__btn:hover {
  background-color: #201e2f;
}
.code .code__text__container .lesson--btn {
  border: 4px solid #ffd300;
}

.quiz {
  background-color: #ffd300;
}
.quiz__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8rem 0rem;
}
.quiz__info {
  display: flex;
  flex-direction: column;
  margin: 2rem 3rem;
}
.quiz__info__btn {
  background-color: #3a11e5;
  color: #fff0e5;
}

.people::before {
  content: "";
  position: absolute;
  background: url("/asset/img/dotted.png");
  opacity: 0.3;
  background-size: 20% 90%;
  background-repeat: repeat-x;
  width: 100%;
  height: 40%;
  width: 100%;
  top: 25%;
  z-index: -1;
}

.people {
  position: relative;
  padding: 3rem 0;
  z-index: 0;
}
.people__headerDesc {
  display: flex;
  justify-content: space-between;
  font-size: small;
  line-height: 2.5em;
}
.people__explore {
  color: #3a11e5;
  display: flex;
  align-items: center;
}
.people .testimonial__card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}
.people .testimonial__card .testimonial__header {
  line-height: 1.3rem;
  font-size: 1rem;
}
.people .testimonial__card .testimonial__text {
  font-family: menlo;
  line-height: 1.1rem;
  font-size: 0.7rem;
}
.people .testimonial__card .testimonial__img {
  border: 1px solid black;
}

.signUp {
  background-color: #3a11e5;
  color: #fff0e5;
}
.signUp__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem 0rem;
}
.signUp__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 2rem 3rem;
  color: #fff0e5;
}
.signUp__btn {
  background-color: #ffd300;
  color: #11162f;
}
.signUp--imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signUp--img {
  width: 80%;
  height: auto;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin-top: 2rem;
}
.footer__left, .footer__right {
  display: flex;
  justify-content: space-around;
}
.footer__header {
  font-weight: 700;
  padding-bottom: 0.31rem;
}
.footer__nav__content {
  list-style: none;
  font-size: small;
  line-height: 1.3rem;
}
.footer__item:hover {
  opacity: 0.5;
}
.footer .rightBorder {
  border-left: 1px solid #000000;
}

.firstLinksLogo {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.firstLinksLogo .footerLogo {
  margin-top: auto;
}

.footer__bottom {
  margin-top: 10px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}
.footer__bottom__menu {
  list-style: none;
  font-size: small;
  display: flex;
}
.footer__bottom__item::after {
  content: "  |   ";
}
.footer__bottom__text {
  font-size: small;
}

.video {
  position: fixed;
  top: 0;
  left: 0%;
  background-color: rgba(96, 96, 96, 0.8);
  height: 100dvh;
  width: 100%;
  z-index: 1000;
  animation: showIn 2s 0ms both;
}
.video__close {
  position: absolute;
  top: -52px;
  right: -15px;
  font-size: larger;
  color: #11162f;
  background-color: rgba(234, 253, 197, 0.8);
  padding: 0.5rem;
  border-radius: 4px;
}
.video__container {
  max-width: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  background-color: #ffd300;
  border: 1rem solid #3a11e5;
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .navbar__content--itemLeft {
    display: none;
  }
  .navMenuIcon {
    display: block;
  }
  .header__content {
    display: block;
    height: 100%;
  }
  .header__content .header__content__teacher,
  .header__content .header__content__logInSection {
    width: 100%;
    height: 100%;
    padding: 1em;
  }
  .code .code__container {
    display: block;
    padding-top: 10px;
  }
  .code .code__editor,
  .code .code__text {
    width: 100%;
    margin: 3rem 0rem;
  }
  .quiz__container,
  .signUp__container {
    display: block;
  }
  .footer__left,
  .footer__right {
    margin-bottom: 3rem;
  }
  .footer .rightBorder {
    border-left: 0px solid #fff0e5;
  }
  .footer__bottom__menu {
    display: block;
  }
  .footer__bottom__item,
  .footer__bottom__text {
    margin: 1rem;
  }
}